<h2 class="ui header">{{ title }}</h2>
<div class="ui grid">
	<div class="six wide column">
		<table class="top attached ui basic table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Number</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody ng-repeat="account in accounts">
				<tr>
					<td>{{ account.name }}</td>
					<td>{{ account.number }}</td>
					<td>{{ account.type }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="six wide column"></div>
	<div class="four wide column">
		<table class="top attached ui basic table">
			<thead>
				<tr>
					<th>Description</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody ng-repeat="goal in goals">
				<tr>
					<td>{{ goal.description }}</td>
					<td>{{ goal.total }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>