<!DOCTYPE html>
<html ng-app="monujo">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Monujo</title>
  <!-- build:css css/index.min.css -->
  <link rel="stylesheet" href="vendor/semantic/dist/semantic.css">
  <link rel="stylesheet" href="css/semantic.theme.css">
  <!-- endbuild -->
  <title></title>
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/angular-route/angular-route.js"></script>
  <script src="vendor/angular-resource/angular-resource.js"></script>
  <script src="vendor/jquery/dist/jquery.js"></script>
  <script src="vendor/semantic/dist/semantic.js"></script>
  <script src="js/main.js"></script>
  <script src="js/InitComponents.js"></script>
  <script src="js/factories/AccountsFactory.js"></script>
  <script src="js/factories/IndexFactory.js"></script>
  <script src="js/factories/GoalsFactory.js"></script>
  <script src="js/factories/PaymentsFactory.js"></script>
  <script src="js/factories/CategoriesFactory.js"></script>
  <script src="js/factories/RulesFactory.js"></script>
  <script src="js/factories/ReportsFactory.js"></script>
  <script src="js/factories/SearchFactory.js"></script>
  <script src="js/controllers/AccountController.js"></script>
  <script src="js/controllers/IndexController.js"></script>
  <script src="js/controllers/DashboardController.js"></script>
  <script src="js/controllers/GoalsController.js"></script>
  <script src="js/controllers/PaymentController.js"></script>
  <script src="js/controllers/PaymentsController.js"></script>
  <script src="js/controllers/CategoryController.js"></script>
  <script src="js/controllers/CategoriesController.js"></script>
  <script src="js/controllers/RuleController.js"></script>
  <script src="js/controllers/RulesController.js"></script>
  <script src="js/controllers/ReportsController.js"></script>
  <script src="js/controllers/SearchController.js"></script>
  <script src="js/directives/GoalsDirective.js"></script>
</head>

<body>
  <div class="ui secondary menu" ng-controller="GlobalController">
    <a class="active item" href="#/">
      <i class="money icon"></i>
      Monujo
    </a>
    <a class="item" href="#/dashboard">
      Dashboard
    </a>
    <div class="ui dropdown item">
      Accounts
      <div class="menu">
        <a class="item" ng-repeat="account in accounts" href="#/accounts/{{ account._id }}">{{ account.name }}</a>
      </div>
    </div>
    <a class="item" href="#/goals">
      Goals
    </a>
    <a class="item" href="#/payments">
      Payments
    </a>
    <a class="item" href="#/categories">
      Categories
    </a>
    <a class="item" href="#/rules">
      Sorting Rules
    </a>
    <a class="item" href="#/reports">
      Reports
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>
  <div class="ui container">
    <div ng-view></div>
  </div>
  <div class="ui footer">
    <div class="ui container">
      Monujo 2016. All Rights Reserved
    </div>
  </div>
</body>

</html>
