<!DOCTYPE html>
<html ng-app="monujo">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Monujo</title>
  <!-- build:css css/index.min.css -->
  <link rel="stylesheet" href="vendor/semantic/dist/semantic.css">
  <link rel="stylesheet" href="css/semantic.theme.css">
  <!-- endbuild -->
  <title></title>
  <!-- build:js js/index.min.js -->
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/angular-route/angular-route.js"></script>
  <script src="vendor/angular-resource/angular-resource.js"></script>
  <script src="vendor/jquery/dist/jquery.js"></script>
  <script src="vendor/semantic/dist/semantic.js"></script>
  <script src="js/main.js"></script>
  <script src="js/factories/IndexFactory.js"></script>
  <script src="js/factories/FinancesFactory.js"></script>
  <script src="js/controllers/IndexController.js"></script>
  <script src="js/controllers/FinancesController.js"></script>
  <!-- endbuild -->
</head>

<body>
  <div class="ui secondary menu">
      <a class="active item">
        Home
      </a>
      <a class="item" href="#/finances">
        Finances
      </a>
      <a class="item">
        Bills
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
        <a class="ui item">
          Logout
        </a>
      </div>
    </div>
  <div class="ui container">
    <div ng-view></div>
  </div>
</body>

</html>
