<!DOCTYPE html>
<html ng-app="monujo">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Monujo</title>
    <!-- build:css css/index.min.css -->
    <!-- <link rel="stylesheet" href=" stylesheets/app.css">
    <link rel="stylesheet" href=" vendor/bootstrap/dist/css/bootstrap-theme.css"> -->
    <!-- endbuild -->
    <title></title>
  </head>
  <body class="container">
    <div ng-view></div>
    <!-- build:js js/index.min.js -->
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="js/main.js"></script>
    <script src="js/factories/RootFactory.js"></script>
    <script src="js/factories/FinancesService.js"></script>
    <script src="js/controllers/RootController.js"></script>
    <script src="js/controllers/FinancesController.js"></script>
    <!-- endbuild -->
  </body>
</html>
