<h1 class="ui header">New category</h1>
<div class="ui dividing"></div>
<form class="ui form">
  <div class="field six wide">
    <label>Name</label>
    <div class="field">
      <input type="text" name="name" ng-model="category.name">
    </div>
  </div>
  <div class="field six wide">
    <label>Type</label>
    <div class="field">
      <select class="ui dropdown" ng-model="category.type" convert-to-string>
        <option value="0">Type 1</option>
        <option value="1">Type 2</option>
        <option value="2">Type 3</option>
      </select>
    </div>
  </div>
  <div class="ui button" tabindex="0" ng-click="save()">Save</div>
</form>